[submodule "subjects/computer-networking"]
	path = subjects/computer-networking
	url = https://github.com/infinitepwn/Computer_Networking.git
[submodule "subjects/operating-system"]
	path = subjects/operating-system
	url = https://github.com/infinitepwn/operating_System.git
[submodule "subjects/cryptography"]
	path = subjects/cryptography
	url = https://github.com/infinitepwn/crypto_introduction.git
[submodule "subjects/computer-systems"]
	path = subjects/computer-systems
	url = https://github.com/infinitepwn/csapp.git
